#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
}
body{
  background-color: burlywood;
}
div nav{
  display: flex;
  ;
}
nav{
  background-color: red;
  display: flex;
  width: 100%;
}

input[type=submit] {
  background: url(https://previews.123rf.com/images/valentint/valentint1606/valentint160600424/57765399-icono-de-la-flecha-hacia-abajo-bot%C3%B3n-de-internet-sobre-fondo-verde.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  
  
  
}


.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


